.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #163c88;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Grad_Pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid #163c88;
  margin-bottom: 20px;
}
.nav-wrapper {
  background-color: #ffffff; /* Change background color */
  height: 60px; /* Set the height of the navbar */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px; /* Add padding to the navbar */
}

.brand-logo {
  font-size: 24px; /* Adjust the font size for the logo */
  font-weight: bold;
  color: #163c88; /* Change logo text color */
  text-decoration: none; /* Remove underline for links */
}

ul#nav-mobile {
  list-style: none; /* Remove default list styles */
  display: flex;
  align-items: center;
  gap: 20px; /* Adjust spacing between navbar links */
}

ul#nav-mobile li {
  /* Add any additional styling for individual navbar links */
}

ul#nav-mobile li a {
  color: #163c88; /* Change link color */
  text-decoration: none; /* Remove underline for links */
  font-size: 16px; /* Adjust font size */
}

ul#nav-mobile li a:hover {
  /* Add hover styles for links if needed */
  /* For example: background-color: #f0f0f0; */
}

/* .App {
  animation: change-background 10s infinite;
}

@keyframes change-background {
  0% {background: red;}
  25% {background: yellow;}
  50% {background: blue;}
  75% {background: green;}
  100% {background: red;}
} */

iframe {
  justify-content: center;
  align-items: center;
}